{{#if addNewReview}}
<h1>Write Your Review</h1>
<div>
  <form>
    <div class="form-group">
      <label for="user">review by</label>
      {{input value=user id="user"}}
    </div>
    <div class="form-group">
      <label for="date">reviewed on</label>
      {{input value=date id="date" type='date'}}
    </div>
    <div class="form-group">
      <label for="description">review</label>
      {{textarea value=description id="description"}}
    </div>
    <div class="form-group">
      {{#x-select value=rating action='selectRating'}}
      {{#x-option value=""}}select rating{{/x-option}}
      {{#x-option value=1}}1{{/x-option}}
      {{#x-option value=2}}2{{/x-option}}
      {{#x-option value=3}}3{{/x-option}}
      {{#x-option value=4}}4{{/x-option}}
      {{#x-option value=5}}5{{/x-option}}
      {{/x-select}}
    </div>
    <button {{action 'saveReview'}}>post</button>
  </form>
</div>
{{else}}
<button class="btn btn-success" {{action 'showReviewForm'}}>add review</button>
{{/if}}
