{{#if updateReviewForm}}
    <div>
      <form>
        <div class="form-group">
          <label for="userUpdate">review by</label>
          {{input value=userUpdate placeholder=review.user}}
        </div>

        <div class="form-group">
          <label for="dateUpdate">reviewed on</label>
          {{input value=dateUpdate type='date' placeholder=review.date}}
        </div>

        <div class="form-group">
          <label for="descriptionUpdate">review</label>
          {{textarea value=descriptionUpdate placeholder=review.description}}
        </div>
        <div class="form-group">
        {{#x-select value=rating action='selectRating'}}
          {{#x-option value=""}}select rating{{/x-option}}
          {{#x-option value=1}}1{{/x-option}}
          {{#x-option value=2}}2{{/x-option}}
          {{#x-option value=3}}3{{/x-option}}
          {{#x-option value=4}}4{{/x-option}}
          {{#x-option value=5}}5{{/x-option}}
        {{/x-select}}
        </div>
        <button class="btn btn-info" {{action 'updateReview' review}} >update</button>
      </form>
    </div>
{{else}}
  <button class="btn btn-info" {{action 'updateReviewForm'}}>update</button>
{{/if}}
