<h2>All reviews for {{fullAddress}}</h2>

{{#each sortedReviews as |review|}}
<p><strong>review:</strong> {{review.description}}</p>
<p><strong>reviewed by:</strong> {{review.user}} ~ <strong>reviewed on:</strong> {{review.date}}</p>
<p><strong>rating:</strong> {{rating-helper review}}</p>

<button class="btn btn-danger"{{action 'deleteReview' review}}>delete</button>
{{/each}}
