{{#if addNewReview}}
<h1>Write Your Review</h1>
<div>
  <form>
    <div class="form-group">
      <label for="user">review by</label><br>
      {{input value=user id="user" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="date">reviewed on</label><br>
      {{input value=date id="date" type='date' class="form-control"}}
    </div>
    <div class="form-group">
      <label for="description">review</label><br>
      {{textarea value=description id="description" class="form-control"}}
    </div>
    <div class="form-group">
      {{#x-select value=rating action='selectRating'class="form-control"}}
      {{#x-option value=""}}select rating{{/x-option}}
      {{#x-option value=1}}1{{/x-option}}
      {{#x-option value=2}}2{{/x-option}}
      {{#x-option value=3}}3{{/x-option}}
      {{#x-option value=4}}4{{/x-option}}
      {{#x-option value=5}}5{{/x-option}}
      {{/x-select}}
    </div>
    <button class="btn btn-success"{{action 'saveReview'}}><span class="glyphicon glyphicon-ok-sign"></span> post</button>
  </form>
</div>
{{else}}
<button class="btn btn-success" {{action 'showReviewForm'}}> <span class="glyphicon glyphicon-plus-sign"></span> review</button>
{{/if}}
