<div id="front-page">
  <!-- <div class="intro"> -->
    {{#if addNewRoom}}
    <div>
      <form id="new-room-form">
        <div class="form-group">
          <label for="type">room type</label><br>
          {{input value=type id="type" placeholder="basement, loft, single room" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="city">city</label><br>
          {{input value=city id="city" placeholder="city" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="address">address</label><br>
          {{input value=address id="address" placeholder="address" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="image">image</label><br>
          {{input value=image id="image" type="url" placeholder="picture" class="form-control"}}
        </div>

        <button class="btn btn-success" {{action 'saveRoom'}}><span class="glyphicon glyphicon-ok-sign"></span> save</button>
      </form>
    </div>
    {{else}}
    <button class="btn btn-success"{{action 'showRoomForm'}}><span class="glyphicon glyphicon-plus-sign"></span> room</button>
    {{/if}}
  <!-- </div> -->
</div>
