{{#if updateRoomForm}}
<div>
  <form>

    <div class="form-group">
      <label for="typeUpdate">room type</label>
      {{input value=typeUpdate placeholder=room.type required="required"}}
    </div>

    <div class="form-group">
    <label for="cityUpdate">city</label>
    {{input value=cityUpdate placeholder=room.city required="required"}}
  </div>

  <div class="form-group">
    <label for="addressUpdate">address</label>
    {{input value=addressUpdate placeholder=room.address required="required"}}
  </div>

  <div class="form-group">
    <label for="imageUpdate">image</label>
    {{input value=imageUpdate type="url" placeholder=room.image}}
  </div>

  <button class="btn btn-primary"{{action 'updateRoom' room}}>save</button>
  </form>
</div>
{{else}}
<button class="btn btn-info" {{action 'updateRoomForm'}}>update</button>
{{/if}}
